<!DOCTYPE html>
<html lang="hr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebShop</title>
    <link rel="stylesheet" href="/styles/index_style.css">
    <script src="../data/mydata.js"></script>
</head>

<body>

    <div class="container">
        <div class="logo">&nbsp; <p>NPA</p>
        </div>
        <div class="trenutnaKategorija"><%=data.categories[cat_ind].name%></div>
        <div class="kosarica" >
            
            <div class="ukupni_brojac">
                <%let br = 0;%>
                <%if(cart){%>
                    <% for (var pro of cart){%>
                        <%br = br + pro.kolicina;%>
                    <%}%>
                <%}%>
                
                <%if(br > 0){%>
                    <%=br%>
                    <%}%>
            </div>
            <img class="povecalo" src="\images\povecalo.png" alt="povecalo">
            <a href="/cart/getAll"><img class="kosarica_icon" src="\images\kosarica_icon.png" alt="kosarica"> </a>
        </div>
        <nav class="navKategorije">
            <ul>
                <li><a href="/getProducts/Karavan">Karavan</a></li>
                <li><a href="/getProducts/Limuzine">Limuzine</a></li>
                <li><a href="/getProducts/Gradski">Gradski</a></li>
                <li><a href="/getProducts/SUV mali">SUV mali</a></li>
                <li><a href="/getProducts/SUV veliki">SUV veliki</a></li>
                <li><a href="/getProducts/Obiteljski">Obiteljski</a></li>
                <li><a href="/getProducts/Pickup">Pickup</a></li>
                <li><a href="/getProducts/Kabrio">Kabrio</a></li>
                <li><a href="/getProducts/Sportski">Sportski</a></li>
                <li><a href="/getProducts/Teretni">Teretni</a></li>
            </ul>
        </nav>
        <div class="naslSlika">&nbsp; Dobrodošli! Odaberite automobil
            vaših snova
            ili potreba.
        </div>
        <div class="kontakt">
            <ul>
                <li>Kontakt</li>
                <li>Newsletter</li>
                <li>Pretplati se</li>
            </ul>
        </div>
        <div class="slikeContainer">
            <%var ind = 0;%>
            <%for (var prod of data.categories[cat_ind].products) {%>
                
                <div class="slika">
                    <div class="slika_prava" style="background: url('<%=prod.image%>')">
                        
                        <a href="/getProducts/<%=data.categories[cat_ind].name %>/add/<%= prod.name %>"><img class="kos_hover" src="\images\kosarica_icon.png" alt="kosarica"></a>
                        <div class="krug_brojac">
                            <%if(brojaci[ind] > 0){%>
                            <%=brojaci[ind]%>
                            <%}%>
                        </div>
                    </div>
                    <div><%=prod.name%></div>
                </div>
                <%ind++;%>
            <%}%>

        </div>



        <!-- <script src="..\web_labos_1\scripts\index_script.js"></script> -->
    </div>

</body>

</html>